{:deps {:aliases [:dev]}

 :builds
 {:cljs-test {:target   :browser-test
              :test-dir "public/test"
              :devtools {:http-port 3434
                         :http-root "public/test"}
              }}}
